@import "../../configuracoes/variaveis.scss";


header {
  .items {
    li {
      .img-usuario {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $green-1;
        background: $gray-2;
        cursor: pointer;
      }
    }

    li:last-child {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

.menu-lateral {
  width: 20%;
  height: 100%;
  background: $gray-2;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}

.menu-lateral-none {
  display: none;
}

.animation-menu-lateral {
  animation: mostrarmenu .2s ease-in-out;
}

.animation-menu-lateral-fechar {
  animation: fecharmenu .2s ease-in-out;
}

.animation-overlay {
  animation: overlay .2s ease-in-out;
}

.animation-overlay-tirar {
  animation: tiraroverlay .2s ease-in-out;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: $black-opacity;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.overlay-none {
  display: none;
}

main {
  @include padding(10%, 3%);
  @include flex-gap(flex-start, center, column, 3.125rem);

  h1 {
    font-size: 2.8rem;
  }
}

.div-principal {
  @include flex-gap(center, center, row, 1.5rem);
  height: 500px;
  width: 100%;
  position: relative;
}

.cards-destaque-pri {
  @include flex(center, center, row);
  height: 100%;
  width: 500px;
  position: relative;
  border: 1px solid $gray-opacity;
  border-radius: 8px;

  img {
    width: 90%;
    height: 90%;
    opacity: .3;
    border-radius: 8px;
  }

  .infos-ocorrencia {
    border-radius: 8px;
    width: 95%;
    height: 200px;
    background: $black-opacity;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $gray-1;
    @include padding(10px, 10px);
    @include flex(space-between, flex-start, column);
  }
}

.div-cards {
  width: 600px;
  height: 100%;
  @include flex(space-between, center, column);
}

.cards-destaque-sec {
  background: $gray-5;
  width: 100%;
  height: 230px;
  @include flex(flex-start, center, row);
  @include padding(0.625rem, 0.625rem);
  border-radius: 8px;
  border: 1px solid $gray-opacity;

  img {
    width: 200px;
    height: 200px;
    opacity: .3;
    border-radius: 8px;
  }

  .infos-ocorrencia {
    height: 100%;
    @include padding(10px, 10px);
    @include flex-gap(center, flex-start, column, 3rem);
  }
}

.infos-ocorrencia {
  div {
    width: auto;
    text-align: justify;
    font-size: 0.875rem;
    @include flex-gap(center, flex-start, column, .75rem);

    p {
      max-width: fit-content;
      word-break: break-all;
    }
  }

  div:last-child {
    @include flex(space-between, center, row);
    font-size: 0.75rem;
  }
}

.descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.endereco {
  font-size: 0.75rem;
}

@keyframes overlay {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

@keyframes tiraroverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mostrarmenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fecharmenu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}