@import "../../configuracoes/variaveis.scss";

main {
  @include padding(10%, 3%);
  @include flex(center, center, row);

  >div {
    height: 430px;
    width: 350px;
    @include flex(center, flex-end, column);

    >a {
      text-decoration: underline;
      color: $blue;
      font-size: 1rem;
    }
  }
}

.div-form {
  height: 100%;
  width: 100%;
  background: $gray-3;
  border-radius: .5rem;
  color: $white;
  @include flex-gap(center, center, column, 3.125rem);

  h3 {
    text-transform: uppercase;
    font-size: 1.875rem;
    font-weight: 600;
  }

  form {
    width: 90%;
    height: auto;
    @include flex-gap(center, center, column, 3.125rem);

    .div-input {
      width: 100%;
      height: auto;
      @include flex-gap(center, center, column, 1.5rem);

      div {
        width: 100%;
        height: auto;
        @include flex-gap(center, center, row, .5rem);

        label i {
          font-size: 1.5rem;
        }

        input {
          width: 85%;
          height: auto;
          background: none;
          border: none;
          border-bottom: 2px solid $white;
          outline: none;
          color: $white;
          @include padding(0, 10px);

          &::placeholder {
            color: $white-opacity;
          }
        }

        input.error {
          border-bottom: 2px solid $red;
        }
      }
    }

    >div:last-child {
      @include flex-gap(center, center, column, .75rem);

      button {
        width: 100px;
        height: 40px;
        background: $black-opacity;
        border: none;
        border-radius: .5rem;
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
      }

      span {
        font-size: .75rem;
      }
    }
  }


}