@import "../../configuracoes/variaveis.scss";

main {
  @include padding(10%, 3%);
  @include flex(center, center, row);

  > div {
    height: 430px;
    width: 350px;
    background: red;
    border-radius: .5rem;
    @include flex(space-between, flex-end, column);
  }
}

.div-form {
    height: 430;
    h3 {
        text-transform: uppercase;
        font-size: 1.875rem;
    }
}
