@import "../../configuracoes/variaveis.scss";

header {
  .items {
    li {
      .img-usuario {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid $green-1;
        background: $gray-2;
        cursor: pointer;
      }
    }

    li:last-child {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

.menu-lateral {
  width: 25%;
  height: 100%;
  background: $gray-2;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  color: $white;
  @include padding(2.5rem, 2.5rem);
  @include flex-gap(flex-start, flex-end, column, 4.5rem);

  .nav-lateral {
    .items {
      text-align: end;
      font-size: 1.2rem;
      @include flex-gap(flex-start, flex-end, column, 4.5rem);

      > li:last-child {
        cursor: pointer;
        font-weight: 700;
      }

      div {
        @include flex-gap(flex-start, flex-end, column, 2rem);
      }
    }
  }
}

.menu-lateral-none {
  display: none;
}

.animation-menu-lateral {
  animation: mostrarmenu 0.2s ease-in-out;
}

.animation-menu-lateral-fechar {
  animation: fecharmenu 0.2s ease-in-out;
}

.animation-overlay {
  animation: overlay 0.2s ease-in-out;
}

.animation-overlay-tirar {
  animation: tiraroverlay 0.2s ease-in-out;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: $black-opacity;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.overlay-none {
  display: none;
}

.fechar-menu {
  cursor: pointer;
  font-size: 2rem;
}

@keyframes overlay {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

@keyframes tiraroverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mostrarmenu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fecharmenu {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}