* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --black: #000;
  --black-opacity: rgba(0, 0, 0, .5);
  --lightgray: #eee;
  --white: #fff;
  --red: #f00;
  --blue: #00f;
}

body {
  width: 100vw;
  height: 100vh;

  background: var(--lightgray);
}

header {
  width: 100%;
  height: 15vh;
  background: var(--lightgray);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 5%;

  img {
    width: 80px;
    height: 80px;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      li {
        font-size: 2.5rem;

        a {
          color: var(--black);
        }

        :hover {
          color: var(--blue);
        }
      }
    }
  }
}

main {
  width: 100%;
  min-height: 80vh;
  height: auto;
  display: flex;
  background: var(--white);

  .entradas {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-block: 5%;
    gap: 1.5rem;

    border-right: 2px solid var(--black);

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: var(--blue);
    }
  }
  
  .saidas {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-block: 5%;
    gap: 1.5rem;

    border-left: 2px solid var(--black);

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: var(--red);
    }
  }

  .card-lancamento {
    width: 55%;
    height: 28vh;
    border-radius: 8px;
    box-shadow: 3px 3px 5px var(--black-opacity);

    background: var(--black);
  }
}



footer {
  width: 100%;
  height: 25vh;
  background: var(--lightgray);
}
