main {
    section {
        h2 {
            font-size: 2.4rem;

            color: var(--gray-1);
        }

        ::after {
            content: '';
            display: block;

            width: 150px;
            height: 2px;
            background: var(--gradient-1);
        }
    }
}