@import "../../configuracoes/variaveis.scss";

main {
  @include padding(10%, 3%);
  @include flex-gap(flex-start, flex-start, column, 3.125rem);

  > h1 {
    font-size: 2.8rem;
  }

  > div {
    width: 100%;
    @include flex(space-between, flex-start, row);
  }
}

.div-cards {
  width: 800px;
  height: auto;
  @include flex-gap(space-between, center, column, 3.125rem);
}

.cards-ocorrencia {
  background: $gray-5;
  height: 230px;
  @include flex-gap(center, center, row, 1.5rem);
  @include padding(0.625rem, 0.625rem);
  border-radius: 8px;
  border: 1px solid $gray-opacity;

  img {
    width: 230px;
    height: 100%;
    opacity: .3;
    border-radius: 8px;
  }
}

.infos-ocorrencia {
  height: 100%;
  @include padding(10px, 10px);
  @include flex-gap(center, flex-start, column, 3rem);

  div {
    width: 100%;
    text-align: justify;
    font-size: 0.875rem;
    @include flex-gap(center, flex-start, column, .75rem);
  }

  div:last-child {
    @include flex(space-between, center, row);
    font-size: 0.75rem;
  }
}

.descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.endereco {
  font-size: 0.75rem;
}