@import '../../configuracoes/variaveis.scss';

main {
    width: 100%;
    height: 90vh;
    padding-inline: 10%;
    padding-block: 3%;

    background: $gray-1;
    @include flex(flex-start, center, column);

    h1 {
        font-size: 3rem;
    }
}