@import "../../configuracoes/variaveis.scss";

main {
  @include padding(10%, 3%);
  @include flex-gap(flex-start, center, column, 3.125rem);

  h1 {
    font-size: 2.8rem;
  }
}

.div-principal {
  @include flex-gap(center, center, row, 1.5rem);
  height: 500px;
  width: 100%;
  position: relative;
}

.cards-destaque-pri {
  @include flex(center, center, row);
  height: 100%;
  width: 500px;
  position: relative;
  border: 1px solid $gray-opacity;
  border-radius: 8px;

  img {
    width: 90%;
    height: 90%;
    opacity: .3;
    border-radius: 8px;
  }

  .infos-ocorrencia {
    border-radius: 8px;
    width: 95%;
    height: 200px;
    background: $black-opacity;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $gray-1;
    @include padding(10px, 10px);
    @include flex(space-between, flex-start, column);
  }
}

.div-cards {
  width: 600px;
  height: 100%;
  @include flex(space-between, center, column);
}

.cards-destaque-sec {
  background: $gray-5;
  width: 100%;
  height: 230px;
  @include flex(flex-start, center, row);
  @include padding(0.625rem, 0.625rem);
  border-radius: 8px;
  border: 1px solid $gray-opacity;

  img {
    width: 200px;
    height: 200px;
    opacity: .3;
    border-radius: 8px;
  }

  .infos-ocorrencia {
    height: 100%;
    @include padding(10px, 10px);
    @include flex-gap(center, flex-start, column, 3rem);
  }
}

.infos-ocorrencia {
  div {
    width: auto;
    text-align: justify;
    font-size: 0.875rem;
    @include flex-gap(center, flex-start, column, .75rem);
  }

  div:last-child {
    @include flex(space-between, center, row);
    font-size: 0.75rem;
  }
}

.descricao {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.endereco {
  font-size: 0.75rem;
}
