

main {
    section {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        gap: 2rem;

        margin-bottom: 3rem;

        h2 {
            font-size: 3.5rem;

            color: var(--gray-1);
        }

        h2::after {
            content: '';
            display: block;

            width: 120px;
            height: 3px;
            background: var(--gradient-1);
        }
    }
}

.div-occurrence {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
}

.card-occurrence {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    height: 500px;
    padding: 25px 15px;

    border-bottom: 3px solid var(--gray-1);
    border-image-slice: 1;

    .img-occurrence {
        height: 220px;
        width: 220px;
        background: var(--gray-1);

        border-radius: 10px;
    }

    .info-occurrence {
        color: var(--black);
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 2rem;

        >div {
            display: flex;
            flex-direction: column;

            gap: .7rem;
            width: 100%;

            p {
                font-size: 1.2rem;
                text-align: justify;
                max-width: fit-content;
                word-break: break-all;
            }
        }

        >div:first-child {
            p:first-child {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }

            p:last-child {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
            }
        }

        >div:last-child {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 0;
        }
    }

    i {
        color: var(--red);
    }
}